/**
 * The style of the widgets
 *
 * @version 1.0
 *
 * -----------
 *
 * Table of Contents
 *
 * I. RecentPosts Widget
 * II. Latest Videos Widget
 */

/*Section I. RecentPoss Widget*/
.widget_newshubrecentposts .entry-post img{
	padding: 2px;
	background: #fff;
	border: 1px solid #e1e1e1;
}

.widget_newshubrecentposts .entry-post .w-featured-image-entry-header-categories li{
	margin: 0;
}

.widget_newshubrecentposts li.entry-post{

	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

/*Section II: Latest Videos Widget*/

 .widget_newshublastestvideos .entry-post .w-featured-image-entry-header{
 	padding: 15px;
 	width: 100%;
 }

 .widget_newshublastestvideos .fa-play{
 	left: 2px;
	top: 4px;
	font-size: 14px;
 }

  .widget_newshublastestvideos .fa-circle-thin{
  	font-size: 2.4em;
  }